<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardReviewMB">

	<!-- 글작성 -->
	<insert id="writeReview">
		insert into board_review values(#{br_p_no},board_review_seq.nextval,#{br_imagepath,jdbcType=VARCHAR},#{br_title},#{br_email},#{br_name},#{br_content},default,default)
	</insert>
	<!-- 상세페이지에서 후기목록-->
	<select id="reviewList" resultType="my.garden.dto.BoardReviewDTO" parameterType="hashmap">
	select * from (select row_number() over(order by br_no desc) as rown, board_review.* 
	from board_review where br_p_no=#{br_p_no}) where rown between #{startNum} and #{endNum}
<!-- select * from (select row_number() over(order by t1.br_no desc) as rown, t1.*,recommend  -->
<!-- from board_review t1, (select BR_NO as T2brNo, count(*) as recommend from br_recommend group by BR_NO order by br_no) t2 -->
<!-- where t1.br_no = T2brNo and t1.br_p_no=#{br_p_no}) where rown between #{startNum} and #{endNum} -->
	</select>
	
	<!-- 상세페이지에서 총 후기 개수 -->
	<select id="reviewCount" resultType="Integer">
		select count(*) from board_review where br_p_no=#{br_p_no}
	</select>
	
 	<!-- board_review 테이블에서 추천 수 업데이트(후기목록에서 사용) --> 
	<update id="updateRecommendCount">
		update board_review set br_recommend=#{br_recommend} where br_no=#{br_no}
	</update>
	
	<!-- 동일 게시글 추천 여부 검색 -->
	<select id="recommendCheck" parameterType="map" resultType="int">
		select count(*) from br_recommend where br_no=#{br_no} and br_email=#{br_email}
	</select>
	
	<!-- 게시글 추천 -->
	<insert id="recommendUpdate" parameterType="map">
		insert into br_recommend values(#{br_email},#{br_no},#{br_title})
	</insert>
	
	<!-- 게시글 추천 취소 (cancelRecommend로 바꾸기)-->
	<delete id="recommendDelete" parameterType="map">
		delete from br_recommend where br_no=#{br_no} and br_email=#{br_email}
	</delete>
	
	<!-- 게시글 추천수 -->
	<select id="recommendCount" parameterType="int" resultType="int">
		select count(*) from br_recommend where br_no=#{br_no}
	</select>
	
	<!-- 내가 추천한 글번호 -->
	<select id="myRecommendNo" resultType="my.garden.dto.BoardReviewRecommendDTO">
		select br_no from br_recommend where BR_EMAIL=#{BR_EMAIL}
	</select>
	
	
	<!-- 후기 수정 전 정보 -->
	<select id="oneReview" resultType="my.garden.dto.BoardReviewDTO">
		select * from board_review where br_no =#{br_no}
	</select>

	<!-- 	후기 수정 -->
	<update id="updateReview" parameterType="map">
		update BOARD_REVIEW 
		set br_title = #{br_title}, br_content=#{br_content}, 
<!-- 		br_imagepath=#{br_imagepath},  -->
		br_writedate=default 
		where br_no=#{br_no}
	</update>

	<!-- 후기 삭제 -->
	<delete id="deleteReview">
		delete BOARD_REVIEW where br_no=#{br_no}
	</delete>
	
	<delete id="deleteRecommend">
		delete BR_RECOMMEND where br_no=#{br_no}
	</delete>
	

	<select id="topRcmdReviews" resultType="my.garden.dto.BoardReviewDTO">
		select * 
		from (select ROW_Number() over (order by br_recommend DESC) as row_num, board_review.* from board_review) 
		where row_num between 1 and 3
	</select>
	
	<!-- 배송 완료된 상품번호 (배송완료 상품만 후기 작성 가능하도록) -->
	<select id="dCompletedPNums" resultType="my.garden.dto.ShopListDTO">
		select s_p_no 
		from shoplist
		where s_statement = '배송 완료' and s_email =#{br_email}
	</select>
	
</mapper>