<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardFreeDAO">
	<insert id="write">
		insert into board_free values (bf_seq.nextval, #{bf_title,jdbcType=VARCHAR}, #{bf_writer,jdbcType=VARCHAR}, #{bf_email,jdbcType=VARCHAR}, #{bf_content,jdbcType=VARCHAR}, #{bf_viewcount}, sysdate, #{bf_recommend})
	</insert>
	
	<select id="list" resultType="my.garden.dto.BoardFreeDTO" parameterType="hashmap">
		select * from (select row_number() over(order by bf_no desc) as rown, BOARD_FREE.* from BOARD_FREE) where rown between #{start} and #{end}
	</select>
	
	<select id="searchList" resultType="my.garden.dto.BoardFreeDTO" parameterType="hashmap">
	select * from (select row_number() over(order by bf_no desc) as rown, BOARD_FREE.* from BOARD_FREE where bf_title like #{searchVal} or bf_content like #{searchVal}) where rown between #{start} and #{end}
	</select>
	
	<select id="read" resultType="my.garden.dto.BoardFreeDTO">
		select * from board_free where bf_no = #{bf_no}
	</select>
	
	<delete id="delete">
	 	delete from board_free where bf_no = #{bf_no}
	</delete>
	
	<update id="modify">
		update board_free set ${column} = #{value,jdbcType=VARCHAR} where bf_no = #{bf_no}
	</update>
	
	<update id="viewCount">
		update board_free set bf_viewcount=bf_viewcount+1 where bf_no = #{bf_no}
	</update>
	
	<insert id="cmtWrite">
		insert into comment_free values (#{cf_bf_no}, cf_seq.nextval, #{cf_name,jdbcType=VARCHAR}, #{cf_email,jdbcType=VARCHAR}, sysdate, #{cf_comment})
	</insert>
	
	<select id="cmtList" resultType="my.garden.dto.CommentFreeDTO">
		select * from (select row_number() over(order by cf_no) as rown, comment_free.* from comment_free where cf_bf_no = #{bf_no}) where rown between #{start} and #{end}
	</select>
	
	<select id="boardCountAll" resultType="Integer">
		select count(*) from board_free
	</select>
	
	<select id="searchCountAll" resultType="Integer">
		select count(*) from board_free where bf_title like #{searchVal} or bf_content like #{searchVal}
	</select>
	
	<select id="cmtCountAll" resultType="Integer">
		select count(*) from comment_free where cf_bf_no = #{cf_bf_no}
	</select>
	
	<update id="cmtModify">
		update comment_free set cf_comment = #{cf_comment} where cf_no = #{cf_no}
	</update>
	
	<delete id="cmtDelete">
		delete from comment_free where ${column}=${value}
	</delete>
	
	<select id="mostViewed" resultType="my.garden.dto.BoardFreeDTO">
		select * from (select row_number() over(order by bf_viewcount desc) as rown, board_free.* from board_free) where rown=1
	</select>
	
</mapper>