<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatDAO">

	<insert id="insertClientSendMessage">
		insert into chat values(#{array[0]}, #{array[1]}, default, #{array[2]}, default)
	</insert>
	
	<insert id="insertAdminSendMessage">
		insert into chat values(#{array[0]}, #{array[1]}, #{array[2]}, #{array[3]}, default)
	</insert>

</mapper>