<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginDAO">
	
	<insert id="joinSubmit">
		insert into members values(
			#{m_email},
			#{m_pw},
			#{m_name},
			#{m_phone},
			#{m_zipcode},
			#{m_address1},
			#{m_address2},
			default, <!--m_joindate timestamp default sysdate-->
			#{m_ipaddress},
			default, <!--m_grade varchar(10) default 'public'-->
			default, <!--m_social varchar(12) default 'MG'-->
			default, <!--m_point number default 0-->
			#{m_gender},
			to_date(#{m_birth}, 'yy/mm/dd'),
			#{m_garden},
			#{m_profile},
			#{m_realpath}
		)
	</insert>
	
	<insert id="socialJoinSubmit">
		insert into members(m_email, m_name, m_phone, m_joindate, m_ipaddress, m_grade, m_social, m_point, m_gender, m_birth, m_garden, m_profile) 
			values(#{m_email}, #{m_name}, #{m_phone}, default, default, default, #{m_social}, default, #{m_gender}, #{m_birth}, #{m_garden}, #{m_profile})
	</insert>
	
	<select id="dupCheck" parameterType="map" resultType="String">
		select ${col} from members where ${whereCol} = #{value}
	</select>
	
	<select id="isLoginOk" parameterType="map" resultType="String">
		select ${m_email}, ${m_pw} from members where ${m_email}=#{id} and ${m_pw}=#{pw}
	</select>
	
	<select id="memSelectAll" resultType="my.garden.dto.MembersDTO">
		select * from members where m_email = #{m_email}
	</select>
	
	<insert id="memUpdateAll">
		update members set m_name = #{m_name}, m_pw = #{m_pw}, m_phone = #{m_phone}, m_zipcode = #{m_zipcode}, m_address1 = #{m_address1}, m_address2 = #{m_address2} where m_email = #{m_email}
	</insert>
	
	<insert id="updateOne" parameterType="map">
		update members set ${col} = #{colVal} where ${whereCol} = #{value}
	</insert>
	
</mapper>