<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShoppingDAO">

<select id="selectCartList" resultType="my.garden.dto.CartDTO">
		select * from cart where c_m_email = #{userId}
</select>

<delete id="delFromCart">
		delete from cart where c_m_email = #{c_m_email} and c_p_no = #{c_p_no}
</delete>

<delete id="delExpiredCart">
		delete from cart where sysdate - cast(c_selectdate as date) >= 7
</delete>

<insert id="insertIntoShopList">
		insert into shoplist values(s_orderno_seq.nextval,#{s_orderno},#{s_email},#{s_phone},#{s_p_no},
		#{s_p_imagepath},#{s_p_title},#{s_p_count},#{s_p_price},#{s_m_recipient},
		#{s_m_memo},#{s_m_paymethod},#{s_m_zipcode},#{s_m_address1},#{s_m_address2},#{s_statement}, sysdate, 'n')
</insert>

<delete id="delCartOrderd" parameterType="map">
	    delete from cart where c_p_title = #{title} and c_m_email = #{id}
</delete>

<select id="selectOrderList" resultType="my.garden.dto.ShopListDTO">
		select * from shoplist where s_email = #{s_email} and s_orderno = #{s_orderno}
</select>

<select id="selectOrderNo" resultType="java.lang.Long">
		select distinct s_orderno from shoplist where s_email = #{id} order by s_orderno desc
</select>

<insert id="insertIntoCart">
		insert into cart values(#{c_p_no},#{c_p_imagepath},#{c_p_title},#{c_p_price},
		#{c_m_email},#{c_count},sysdate)
</insert>

<select id="isCartExist" resultType="java.lang.Integer">
		select count(*) from cart where c_p_no = #{c_p_no} and c_m_email = #{c_m_email}
</select>

<update id="updateCart">
		update cart set c_count = #{c_count} where c_p_no = #{c_p_no} and c_m_email = #{c_m_email}
</update>

<select id="searchOrderNo" resultType="java.lang.Long" parameterType="map">
		select distinct s_orderno from shoplist where s_email = #{id} and s_statement = #{orderStatus} order by s_orderno desc
</select>

<select id="searchOrderNoAll" resultType="java.lang.Long">
		select distinct s_orderno from shoplist where s_orderdate between sysdate-#{s_orderno_seq} and sysdate and s_email = #{s_email} order by s_orderno desc
</select>

<select id="searchOrderNoDuration" resultType="java.lang.Long">
		select distinct s_orderno from shoplist 
		where s_orderdate between sysdate-#{s_orderno_seq} and sysdate 
		and s_email = #{s_email} and s_statement = #{s_statement}
</select>

<insert id="insertSubscribe">
		insert into subscribe values(sb_orderno_seq.nextval, #{sb_email},#{sb_period},
#{sb_category}, #{sb_component1}, #{sb_component2}, #{sb_component3}, #{sb_paymethod}, 
#{sb_startday}, sysdate, #{sb_statement}, #{sb_price})
</insert>

<update id="updateShopList">
	update shoplist set s_statement = '주문 만료' where (extract(day from sysdate-s_orderdate)*24
     + EXTRACT(HOUR FROM sysdate-s_orderdate))>24 and s_statement = '입금 대기'
</update>

<update id="updateSubsList">
	update subscribe set sb_statement = '주문 만료' where sysdate-sb_orderday>1 and sb_statement = '입금 대기'
</update>

<select id="selectSubsList" resultType="my.garden.dto.SubscribeDTO">
		select * from subscribe where sb_email = #{id} order by sb_orderno_seq desc
</select>

<update id="subsCancel">
	update subscribe set sb_statement = '구독 취소' where sb_orderno_seq=#{sb_orderno_seq} and sb_statement = '구독중' 
	and sb_email = #{sb_email}
</update>

<select id="selectSubsSearch" resultType="my.garden.dto.SubscribeDTO">
		select * from subscribe where sb_email = #{sb_email} and sb_statement = #{sb_statement} order by sb_orderno_seq desc
</select>

<update id="completeShipping">
	update shoplist set s_statement = '배송 완료' where s_orderno = #{s_orderno} and s_statement = '배송중'
</update>

</mapper>