<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShoppingDAO">

<select id="selectCartList" resultType="my.garden.dto.CartDTO">
		select * from cart where c_m_email = #{userId}
</select>

<delete id="delFromCart">
		delete from cart where c_m_email = #{c_m_email} and c_p_no = #{c_p_no}
</delete>

<delete id="delExpiredCart">
		delete from cart where sysdate - cast(c_selectdate as date) >= 7
</delete>

<insert id="insertIntoShopList">
		insert into shoplist values(s_orderno_seq.nextval,#{s_orderno},#{s_email},#{s_phone},#{s_p_no},
		#{s_p_imagepath},#{s_p_title},#{s_p_count},#{s_p_price},#{s_m_recipient},
		#{s_m_memo},#{s_m_paymethod},#{s_m_zipcode},#{s_m_address1},#{s_m_address2},#{s_statement}, sysdate, 'n')
</insert>

<delete id="delCartOrderd" parameterType="map">
	    delete from cart where c_p_title = #{title} and c_m_email = #{id}
</delete>

<select id="selectOrderList" resultType="my.garden.dto.ShopListDTO">
		select * from shoplist where s_email = #{s_email} and s_orderno = #{s_orderno}
</select>

<select id="selectOrderNo" resultType="java.lang.Long">
		select distinct s_orderno from shoplist where s_email = #{id}
</select>


</mapper>